*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    width: 100%;
    height: 100%;
}

.main-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5rem 0;
    height: 100%;
    margin: 0 10rem;
}

.main-container > h1{
    margin-top: 2rem;
}

.main-controller{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0 3rem;
}

.object-controller{
    background-color: #C2C2C280;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    width: 15%;
    gap: 0.15rem;
    box-shadow: 2px 5px 10px 0 #2b2b2b;
}

.object-controller > p{
    grid-column: 1 / 5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.controller-button{
    outline: none;
    border: none;
    background-color: #EB4034;
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    transition: 100ms all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller-button:hover,
.controller-button:focus{
    background-color: white;
    color: #EB4034;
}


.controller-left{
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.controller-right{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}

.controller-up, .controller-down{
    grid-column: 2 / 4;
}

.controller-up{
    grid-row: 2 / 3;
}

.controller-down{
    grid-row: 4 / 5;
}

.controller-in, .controller-out{
    grid-row: 3 / 4;
}

.controller-in{
    grid-column: 3 / 4;
}

.controller-out{
    grid-column: 2 / 3;
}

#manipulation-translation::after,
#manipulation-rotation::after{
    content: "";
    position: relative;
}

#manipulation-translation:checked::after,
#manipulation-rotation:checked::after{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #EB4034;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    bottom: 8.4px;
    left: 2px;
}

#main-canvas{
    border: 2px solid black;
    width: 1400px;
    height: 700px;
    background-color: black;
}